<title>News</title>
  </head>
  <body>

    <div class="container mt-5">
        <h1> Choose your Location </h1>
    </div>

    <div class="col mt-4 text-center">
    
        <form action="/news">
            <label> Enter your location: </label>
            <input type = "text" name = "location">
            <button type = "submit" class = "btn btn-outline-dark"> Go there </sumbit>
        </form>
    </div>